.row
  .col-md-12
    = bootstrap_form_for [@project, @distribution], html: {id: "distribution-form"} do |f|
      %table.table
        %thead
          %th Recipient
          %th Origin
          %th Comment
          %th Amount
        %tbody#recipients
          - f.object.tips.each do |tip|
            = render "tip_form", tip: tip, form: f
      .form-group
        %label{for: "add-recipients-input"} Add recipient(s)
        %input.form-control#add-recipients-input{type: "text", autocomplete: "off", data: {suggestion_url: recipient_suggestions_project_distributions_path(@project)}}
        #recipient-suggestions
      .text-center
        = f.submit "Save the distribution", class: 'btn btn-primary'
