%h1 Last Withdrawals
%p
  %table.table
    %thead
      %tr
        %th Created At
        %th Transaction
        %th Result
    %tbody
      - @distributions.each do |distribution|
        %tr
          %td= l distribution.created_at, format: :short
          %td= link_to distribution.txid, transaction_url(distribution.txid), target: '_blank'
          %td= distribution.is_error ? "Error" : "Success"
