= bootstrap_form_for Distribution.new do |f|
  - suggestions = []
  - if params[:text] =~ Devise::email_regexp
    - user = User.where(email: params[:text]).first_or_initialize
    - recipients = capture_haml do
      = render "tip_form", tip: Tip.new(user: user), form: f
    - suggestions << [user.recipient_label, recipients]
  - User.where('nickname LIKE ?', "%#{params[:text]}%").each do |user|
    - recipients = capture_haml do
      = render "tip_form", tip: Tip.new(user_id: user.id), form: f
    - suggestions << [user.recipient_label, recipients]
  - suggestions.each_slice(4) do |slice|
    .row
      - slice.each do |label, recipients|
        .col-md-3
          %a.btn.btn-block.btn-default.add-recipient-button{href: "#", data: {recipients: recipients}}= label
