- content_for :main_content do
  #home-page
    / Jumbotron
    .jumbotron
      .container
        %br
        %br
        %br
        %h1 Teamwork makes the dream work
        %p.lead 

        %h8 Revolutionary ideas powered by revolutionary technology
        %br
        %a.btn.btn-lg.btn-success{href: projects_path} See projects

    .container.container-md-height
      / Example row of columns
      .row.row-md-height
        .col-lg-3.col-md-height.col-top.main-panel.donate
          .panel-content
            %h2 Donate GameCredits
            %p
              People donate GameCredits to Gaming projects.
            .button-container
              %a.btn.btn-primary.btn-block{href: projects_path} See projects
        .col-lg-3.col-md-height.col-top.main-panel.contribute
          .panel-content
            %h2 Contribute
            %p
              When someone's commit is accepted into the project repository we automatically tip the author.
            .button-container
              %a.btn.btn-primary.btn-block{href: projects_path} See projects
        .col-lg-3.col-md-height.col-top.main-panel.raise
          .panel-content
            %h2 Raise funds
            %p
              Make something happen by raising funds and distributing them.
            .button-container
              %a.btn.btn-primary.btn-block{href: new_project_path} Create a project
        .col-lg-3.col-md-height.col-top.main-panel.how-it-works
          .panel-content
            %h2 How it works?
            %p
              Fundraisers collect funds and distribute them to contributors.
            .button-container
              %a.btn.btn-primary.btn-block{href: faq_path} FAQ
      / - if current_user
      /         %a.btn.btn-primary{href: user_path(current_user)} Change your GameCredits address »
      /       - else  
      /         %a.btn.btn-
	  