/ Jumbotron
.jumbotron
  %h1 Contribute to Open Source
  %p.lead Donate peercoins to open source projects or make commits and get tips for it.
  / - if current_user
  /   You are logged in as
  /   - unless current_user.image.blank?
  /     = image_tag(current_user.image, width: 26)
  /   = link_to current_user.name, current_user.github_url
  /   %p
  /     \/
  /     Your balance
  /     = btc_human current_user.balance
  /     \/
  /     = link_to current_user.bitcoin_address.blank? ? 'Please set your Peercoin address to receive tips!' : 'Change peercoin address', current_user
  /     \/
  /     = link_to 'Sign Out', destroy_user_session_path, method: :delete
  /     \/
  / - else
  /   / %a.btn.btn-lg.btn-success{href: user_omniauth_authorize_path(:github)} See projects

  %a.btn.btn-lg.btn-success{href: projects_path} See projects

/ Example row of columns
.row
  .col-lg-3
    %h2 How it works?
    %p
      Fundraisers create projects and collect funds to make something happen.
    %p
      %a.btn.btn-primary{href: faq_path} Frequently Asked Questions »
  .col-lg-3
    %h2 Donate
    %p
      Donate to projects to make them happen.
    %p
      %a.btn.btn-primary{href: projects_path} See projects »
  .col-lg-3
    %h2 Contribute
    %p
      Get paid to contribute to a project.
    %p
      %a.btn.btn-primary{href: projects_path} See projects »
  .col-lg-3
    %h2 Raise funds
    %p
      Make something great happen by raising funds and distributing them.
    %p
      %a.btn.btn-primary{href: new_project_path} Create a project »
/ - if current_user
/         %a.btn.btn-primary{href: user_path(current_user)} Change your peercoin address »
/       - else
/         %a.btn.btn-primary{href: user_omniauth_authorize_path(:github)} Sign In »      
