- content_for :main_content do
  #home-page
    / Jumbotron
    .jumbotron
      .container
        %h1 Make anything happen
        %p.lead 

        %a.btn.btn-lg.btn-success{href: projects_path} See projects

    .container.container-md-height
      / Example row of columns
      .row.row-md-height
        .col-lg-3.col-md-height.col-top.main-panel.donate
          .panel-content
            %h2 Donate
            %p
              Donate to projects to make them happen.
            .button-container
              %a.btn.btn-primary.btn-block{href: projects_path} See projects
        .col-lg-3.col-md-height.col-top.main-panel.contribute
          .panel-content
            %h2 Contribute
            %p
              Get paid to contribute to a project.
            .button-container
              %a.btn.btn-primary.btn-block{href: projects_path} See projects
        .col-lg-3.col-md-height.col-top.main-panel.raise
          .panel-content
            %h2 Raise funds
            %p
              Make something happen by raising funds and distributing them.
            .button-container
              %a.btn.btn-primary.btn-block{href: new_project_path} Create a project
        .col-lg-3.col-md-height.col-top.main-panel.how-it-works
          .panel-content
            %h2 How it works?
            %p
              Fundraisers collect funds and distribute them to contributors.
            .button-container
              %a.btn.btn-primary.btn-block{href: faq_path} FAQ
      / - if current_user
      /         %a.btn.btn-primary{href: user_path(current_user)} Change your peercoin address »
      /       - else
      /         %a.btn.btn-primary{href: user_omniauth_authorize_path(:github)} Sign In »      
